// Local config overrides, put keys and secrets in here
// Copy to 'config.local.js'
module.exports = {
  secret: 'notsosecret' // change this to something secret
  auth: {
    facebook: {
      clientID: 'YOUR_FACEBOOK_CLIENT_ID',
      clientSecret: 'YOUR_FACEBOOK_CLIENT_SECRET'
    }
  }
};
